body {
  background-color: #e3f6ff;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: rgb(139, 135, 135);
  border-width: 10px;
  width: 5%;
}

a {
  text-decoration: none;
}
h1 {
  color: darkcyan;
  font-style: inherit;
}
h3 {
  color: darkcyan;
}
